astroid==2.3.3
certifi==2019.11.28
chardet==3.0.4
Click==7.0
Flask==1.1.1
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
pycrypto==2.6.1
pylint==2.4.4
requests==2.22.0
six==1.14.0
typed-ast==1.4.1
urllib3==1.26.5
Werkzeug==1.0.0
wrapt==1.11.2
jsonpickle==1.3
